* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-section {
  height: 100vh;
}

section {
  height: 100vh;
}

.background {
  min-height: 100vh;
  align-items: center;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Typewriter Classes */
.typewriter {
}
