* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  height: 100vh;
  display: flex;

  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  font-size: 13px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  overflow: hidden;
  height: 500px;
  border: 1px gray solid;
  border-radius: 6px;
  margin: 20px;
}

.menu {
  display: flex;
  height: 20px;
  background-color: white;
  border-radius: 6px 6px 0px 0px;
  padding: 8px 0px 0px 8px;
}

.button-flex {
  display: flex;
  position: absolute;
  flex-direction: row;
}

.menu .button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
  cursor: pointer;
}

.red {
  background-color: #f5544d;
}

.yellow {
  background-color: #fabd2f;
}

.green {
  background-color: #47d043;
}
