:root {
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

section {
  background-color: #1f3140;
}

.about-background {
  padding: 60px 0px;
}

.about-content {
  color: #ccd6f6;
}

.about-text {
  height: 100%;
  padding: 30px;
}

.about-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
  box-shadow: 0 10px 30px -15px #617d8a;
}

.numbered-heading::before {
  position: relative;
  counter-increment: section 1;
  content: "0" counter(section) ".";
  margin-right: 3px;
  color: #6b98bf;
  font-family: var(--font-mono);
  font-size: clamp(10px, 5vw, 16px);
  font-weight: 700;
}

.numbered-heading {
  width: 100%;
  color: #ccd6f6;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  font-weight: 700;
  font-size: clamp(10px, 5vw, 16px);
  white-space: nowrap;
  justify-content: center;
  margin-bottom: 0px !important;
}

/* .numbered-heading::after {
  content: "";
  display: block;
  position: relative;
  width: 400px;
  height: 1px;
  margin-left: 20px;
  background-color: #617c8c;
}

@media (max-width: 1080px) {
  .numbered-heading::after {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .numbered-heading::after {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .numbered-heading::after {
    margin-left: 10px;
  }
} */

.about-header {
  text-align: center;
  font-size: clamp(28px, 5vw, 40px);
  font-weight: 700;
  line-height: 1.4;
}
