:root {
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

section {
  background-color: #1f3140;
}

.about-background {
  padding: 60px 0px;
}

.numbered-heading::before {
  position: relative;
  counter-increment: section 1;
  content: "0" counter(section) ".";
  margin-right: 10px;
  color: #5e88bf;
  font-family: var(--font-mono);
  font-size: clamp(16px, 5vw, 30px);
  font-weight: 600;
}

.numbered-heading {
  width: 100%;
  color: #ccd6f6;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  font-weight: 400;
  font-size: clamp(16px, 5vw, 28px);
  white-space: nowrap;
  margin: 10px 0px 40px;
}

.numbered-heading::after {
  content: "";
  display: block;
  position: relative;
  width: 400px;
  height: 1px;
  margin-left: 20px;
  background-color: #617c8c;
}

@media (max-width: 1080px) {
  .numbered-heading::after {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .numbered-heading::after {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .numbered-heading::after {
    margin-left: 10px;
  }
}
